@model ProjectEuler.UI.AspNetMVC.Models.HomeModel
@{
    ViewBag.Title = "Solving Project Euler - Problem #11";
}
<style>.errormsg { font-weight: bold; color: red; }</style>

<ol class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">Problem #11</li>
</ol>

<div class="page-header">
    <h1>Problem #11</h1>
</div>
<div class="starter-template">
    <p class="lead">Solving Project Euler - Problem #11</p>
</div>

<div class="well">

    <div role="tabpanel">
        <ul id="tabstrip" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#solve1" aria-controls="solve1" role="tab" data-toggle="tab">Solve by fixed array</a></li>
            <li role="presentation"><a href="#solve2" aria-controls="solve2" role="tab" data-toggle="tab">Solve by open text</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="solve1">

                @using (Html.BeginForm("SolveByFixedArray", "Home", FormMethod.Post))
                {
                    <br />
                    <label class="errormsg">@TempData["ErrorMessage1"]</label>
                    <p>In the 20×20 grid below, four numbers along a diagonal line have been marked in red.</p>
                    <img src="~/images/grid.jpg" alt="" />
                    <p>The product of these numbers is 26 × 63 × 78 × 14 = 1788696.</p>
                    <p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?</p>
                    <button class="btn btn-primary" type="submit" href="#solve2">Solve Problem</button>
                }
                <strong>@TempData["Result1"]</strong>

            </div>
            <div role="tabpanel" class="tab-pane" id="solve2">

                @using (Html.BeginForm("SolveByOpenText", "Home", FormMethod.Post))
                {
                    <br />
                    <label class="errormsg">@TempData["ErrorMessage2"]</label>
                    <p>In the 20×20 grid below, four numbers along a diagonal line have been marked in red.</p>
                    @Html.TextAreaFor(model => model.InputGrid, new { @class = "form-control", @style = "max-width:630px; width:630px; height:500px" })
                    <p>The product of these numbers is 26 × 63 × 78 × 14 = 1788696.</p>
                    <p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?</p>
                    <button class="btn btn-primary" type="submit" href="#solve2">Solve Problem</button>
                }
                <strong>@TempData["Result2"]</strong>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            if (location.hash) {
                $('a[href=' + location.hash + ']').tab('show');
            }
            $(document.body).on("click", "a[data-toggle]", function (event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on('popstate', function () {
            var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
            $('a[href=' + anchor + ']').tab('show');
        });
    </script>
}